/* #root {
  max-width: 1440px;
  text-align: center;
} */

/* App */

.container-principal {
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1%;
}

.logoKasa {
  width: auto;
  height: 68px;
}

nav {
  width: 30%;
}

.header-ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 20%;
}

.header-ul li a {
  text-decoration: none;
  color: black;
}

.header-ul li a:hover {
  text-decoration: underline;
}

/* Footer  */

.footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2%;
}