.arrow_left {
    position: absolute;
    top: 37%;
    left: 30px;
}

.arrow_right {
    position: absolute;
    top: 37%;
    right: 30px;
}

.pagination {
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.banner {
    position: relative;
}

/* Small devices (phones, less than 375px) */
@media (max-width: 375px) {

    .arrow_left {
        width: 11.67px;
        top: 45%;
        left: 10px;
    }

    .arrow_right {
        width: 11.67px;
        top: 45%;
        right: 10px;
    }

    .pagination {
        display: none;
    }

    .banner {
        max-width: 335px;
        width: 100%;
    }

}