/* Footer  */

.footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2%;
}

/* Small devices (phones, less than 375px) */
@media (max-width: 375px) {

  .footerText {
    width: 35%;
  }

}